header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #F9A8A8;
    color:white;

}

#titulo{
    align-items: center;
}

h1 {
    
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
  }

  body {
    background-color: #825771 ;
    font-family: var(--font-family);
        height: 60%;
        display: grid;
        grid-template-rows: auto 480px 1fr auto;
        grid-template-rows: 3;
  }

  .product-content{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
.product-1 img {
    width: 40%;
    align-items: center;
    padding: 1rem;
    background-color: #f1948a;
    padding: 12px;
    border-radius: 100px;
    height: auto;
}
.product-txt{
    background-color: #f1948a;
}
/*
.product-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas iguales */
    gap: 20px;
    align-items: center;
    padding: 1rem;
  }*/


  #services{
    grid-template-rows: 3;
    align-items: center;
  }
  footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
}
.mitexto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: White;
  font-size: 30px;
}
.imagen {
  position: relative;
  text-align: center;
  color: white;
}


